<div ng-controller="GraphFuelController as graph">
  <div class="container body">
    <div class="main_container">
      <!-- Header -->
      <div ng-include="'header/views/header.client.view.html'"></div>
      <!-- Sidebar -->
      <div ng-include="'sidebar/views/sidebar.client.view.html'"></div>
      <!-- Content -->
      <div auto-height class="right_col">
        <div class="page-title">
          <div class="title_left header-search-data">
            <h3>{{ text.page_graph_fuel.title }}</h3>
            <div class="box-select">
              <select
                class="form-control"
                ng-model="selectVehicle"
                title="{{ text.page_graph_fuel.select_vehicle }}"
                data="{{ dataSelectVehicle }}"
                select2
                style="width: 100%;">
              </select>
            </div>
            <div class="box-date-picker">
              <div class="form-group">
                <div class="input-group">
                  <input date-range-picker-year-month-date-time-start-end
                    class="form-control pull-right" 
                    ng-model="selectDate"
                    ng-change="setTextDate(selectDate)"
                    type="text">
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-btn-search">
              <button type="button" class="btn btn-round btn-block btn-success" ng-click="searchDataGraph()">
                <i class="fa fa-search"></i> {{ text.page_graph_fuel.btn_search }}
              </button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="x_panel fixed_height_390">
              <div class="x_content">
                <div graph-fuel
                  class="display-graph"
                  id="graph-fuel"
                  data="{{ dataGraphFuel }}"
                  vehicle-name="{{ vehicle_name }}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-show="dataGraphFuel.length > 0">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-summary-fuel">
            <div class="summary-title"><label>{{ text.page_graph_fuel.summary_usage_fuel }}</label> <span>{{ startDate }} - {{ stopDate }}</span></div>
            <div class="summary-detail"><label> • {{ text.page_graph_fuel.total_usage_fuel }}</label> <span class="value">{{ dataGraphFuel[0].total_liter_usage }}</span> <span>{{ text.page_graph_fuel.liter }}</span></div>
            <div class="summary-detail"><label> • {{ text.page_graph_fuel.work_time }}</label> <span class="value">{{ dataGraphFuel[0].total_working }}</span> <span>{{ text.page_graph_fuel.hour }}</span></div>
            <div class="summary-detail"><label> • {{ text.page_graph_fuel.fuel_consumption_rate }}</label> <span class="value">{{ dataGraphFuel[0].fuel_consumption }}</span> <span>{{ text.page_graph_fuel.liter_hour }}</span></div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div ng-include="'footer/views/footer.client.view.html'"></div>
    </div>
  </div>
  <!-- Alert Message -->
  <alert-message class="box-alert-message"></alert-message>
  <!-- Modal Message -->
  <modal-message visible="showModalMessage"></modal-message>
  <!-- Modal Logout -->
  <modal-logout visible="showModalLogout"></modal-logout>
</div>
